
{:paths ["source-code/clj"]
 :deps  {clj-http/clj-http           {:mvn/version "3.12.3"}
         bithandshake/cljc-fruits    {:git/url "https://github.com/bithandshake/cljc-fruits"
                                      :sha     "e5523d19625c0e366e716f8af71522ff5eeb116c"}
         bithandshake/cljc-validator {:git/url "https://github.com/bithandshake/cljc-validator"
                                      :sha     "27f2b9f7cb1aa2562ec897f9345ede7cc01a642e"}
         org.clojure/clojure         {:mvn/version "1.10.1"}}}
                                      
