
{:paths ["source-code/clj"]
 :deps  {clj-http/clj-http           {:mvn/version "3.12.3"}
         bithandshake/cljc-fruits    {:git/url "https://github.com/bithandshake/cljc-fruits"
                                      :sha     "76731f3aebff86219eb334fe759a02ff69765ede"}
         bithandshake/cljc-validator {:git/url "https://github.com/bithandshake/cljc-validator"
                                      :sha     "d7483e5227f742f60748bbc47429ca564d7e6fd0"}
         org.clojure/clojure         {:mvn/version "1.10.1"}}}
                                      
